@import url(http://fonts.googleapis.com/css?family=Oswald);/*font-family: 'Oswald', sans-serif;*/

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0; height:100%;}

body {
	font-family: Arial, Helvetica, sans-serif ; 	 
	font-size:12px; 
	line-height:20px;
	color:#636363;
	background:#fff;
	min-width:960px;
	}
.main{width:100%;height: auto; min-height:100%;background: url(../images/bg-main.jpg) 0 0 repeat-x #fff;}
/***********************************************************************/
/*================================>Block-classes<==========================*/
.txt-dec-n{text-decoration:none !important;}
.txt-dec-u{text-decoration: underline;}
.txt-up-n{text-transform:none !important;}
.txt-up{text-transform:uppercase;}
.txt-al{text-align:center;}
.bold{font-weight:bold;}
.font-11{
	font-size:11px;
	color:#7CB215;
	}
.no-wrap{ white-space:nowrap;}

.col{color:#af12bc ;}
.col-1{color:#646464;}
.col-2{color:#7CB215;}

.hov:hover{color:#af12bc ;}

.border-none{border: none !important;}
.bg-none{background: none !important;}

.dis-block{display: block;}
.dis-inblock{display: inline-block;}

.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{margin-left:0 !important; margin-right:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

/*===============================>Indent<==================================*/
.padd{margin:55px 0 27px 0;}
.padd-1{margin:34px 0 39px 0;}
.padd-2{margin:47px 0 46px 0;}
.padd-3{margin:65px 0 41px 0;}

.top{margin-top: 5px;}
.top-1{margin-top:20px;}
.top-2{padding-top:20px;}
.top-3{margin-top:-8px;}
.top-4{margin-top:6px;}

.bot{margin-bottom: 23px;}

.left{margin-left: 30px;}

.right{margin-right: 10px;}
.right-1{margin-right: 19px;}

/*================================link-button===============================*/
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:none;}

ul {
	margin:0; 
	padding:0;
	list-style-image:none;
	}
.button{
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-size: 14px; 
	line-height: 18px;
	padding: 11px 9px 11px 9px;
	background: url(../images/bg-button.jpg) 0 0 repeat-x #82ad30; 
	color:#fff ; 
	min-width:64px;
	box-shadow: 0 1px 2px #818181;
	position:relative;
	z-index:1;
	-moz-transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	border-radius: 3px;
	}
.button strong{
	display:block;
	background:#a111ad ;
	position:absolute;
	left:0;
	right:100%;
	bottom:0%;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	z-index:-1;
	border-radius: 3px;
	}
.button:hover{
	color:#fff ;
	}
.button:hover strong{
	top:0%;
	left:0%;
	right:0%;
	}
.button-1{
	position:relative;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-size: 12px; 
	line-height: 18px;
	padding: 10px 18px 10px 18px;
	text-transform:uppercase;
	background: url(../images/bg-button-1.jpg) 0 0 repeat-x #82ad30; 
	color:#84af33; 
	border-radius: 3px;
	box-shadow: 0 1px 2px #c0c0c0;
	z-index:1;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	}
.button-1 strong{
	display:block;
	background:#a111ad ;
	position:absolute;
	left:0;
	right:100%;
	bottom:0%;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-radius: 3px;
	z-index:-1;
	}
.button-1:hover{
	color:#fff;
	}
.button-1:hover strong{
	top:0%;
	left:0%;
	right:0%;
	}
/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper, .wrapper-extra, .extra-wrap{overflow:hidden;}
.wrapper-after:after{
 clear:both;
 content:".";
 display:block;
 height:0;
 visibility:hidden;}
.fleft {float:left;}
.fright {float:right;}
/*===============================>H-logo-properties=========================*/
h1{
	display: inline-block;
	float:left;
	font-size:11px;
	line-height:14px;
	font-weight:normal;
	text-transform:uppercase;
	color:#b3b3b3;
	margin:48px 0 0 0;
	}
h1 span{
	display:inline-block;
	margin:54px 0 0 10px;
	}
h1 a{display:inline-block;}
h2{ font-size:24px; 
	font-family: 'Oswald', sans-serif;
	color:#636363;
	line-height:30px;
	font-weight: 400;
	text-transform:uppercase;
	letter-spacing:-1px;
	}
h3{font-size:18px; 
   font-family: 'Oswald', sans-serif;
   color:#636363; 
   line-height: 24px; 
   font-weight: normal;
   text-transform:uppercase;
   }
/*********************************header*************************************/
.head{
	width:100%; 
	position:relative; 
	z-index:2;
	}
header{
	width: 940px; 
	margin: 0 auto;
	position:relative;
	}
.bdb-header{
	border-bottom:1px solid #e5e5e5;
	padding-bottom:37px;
	}
/*********************************content*************************************/
#content{
	width:100%; 
	margin:0;
    position:relative; 
	z-index:1;
	}
.div-search{
	width:240px;
	padding-bottom:30px;
	}
#search input{
	width: 225px; 
	height: 16px; 
	font-family: Arial, Helvetica, sans-serif  ; 
	border:1px solid #d9dad7;
	font-size: 12px;
	color:#373737 ;  
	display: inline-block; 
	background:#fff ; 
	padding:8px 0 9px 13px ; 
	margin:31px 0 0 0;
	}
#search .button-1{
	float:right;
	margin:19px 0 0 11px;
	}
#map_canvas{
	width: 510px; 
	height: 300px;
	margin-left:30px;
	}
.adress{
	margin-top: 20px;
	font-size: 12px; 
	color:#373737;
	} 
.adress dd{text-align:left;}
.adress a{ 
    color:#7cb215 ; 
	display:inline-block;
	font-size: 12px;
	}
.adress a:hover{
	color:#373737;
	text-decoration:underline;
	}
		.adress span{
			display:inline-block; 
			width:78px;
			}
		.adress strong{
			display:inline-block;
			font-weight:normal;
			}
		.title1{
			letter-spacing:0; 
			text-align:left; 
			display:inline-block; 
			color:#373737 ;
			}
.pp{
	display:inline-block; 
	margin:20px 0 0 0; 
	color:#7cb215 ; 
	}
.pp:hover{
	color:#373737 ; 
	text-decoration:underline;
	}
.list li{
	font-size:12px;
	line-height:20px;
	padding:19px 0 19px 0;
	display:block;
	overflow:hidden;
	border-top:1px solid #e5e5e5;
	}
.list li:first-child{border-top:none;}
.list li .button{
	float:left;
	margin:0 18px 0 1px;
	}
.list-1 li{
	background: url(../images/bg-list-1-li.png) left 17px no-repeat;
	padding:15px 0 14px 29px;
	border-top:1px solid #e5e5e5;
	}
.list-1 li:first-child{
	border-top:none;
	padding-top:0;
	background: url(../images/bg-list-1-li.png) left 2px no-repeat;
	}
.list-1 li a{
	font-weight:bold;
	color:#646464;
	}
.list-1 li a:hover{color:#af12bc;}
.list-2 li{
	background: url(../images/bg-li-list-2.png) left 13px no-repeat;
	font-size:12px;
	padding:10px 0 10px 23px;
	}
.list-2 li a{color:#7cb215;}
.list-2 li a:hover{color:#af12bc;}
/**********************************index***********************************/
.box{
	width:300px;
	height:137px;
	margin:20px 0 0 0;
	padding-top:183px;
	}
.box a{
	display:block;
	width:250px;
	height:120px;
	margin:0 0 0 0;
	color:#fff;
	box-shadow: 8px 8px 8px rgba(000,000,000,0.5);
	position:relative;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index:1;
	}
	.box a span{
		font-size:12px;
		display:inline-block;
		padding:12px 0 0 19px;
		}
	.box a em{
		font-style:normal;
		font-family: 'Oswald', sans-serif;
		font-size:30px;
		line-height:36px;
		text-transform:uppercase;
		display:block;
		margin:4px 0 0 19px;
		}
	.box a:hover{background:transparent;}
	.box a strong{
		display:block;
		background:#000 ;
		position:absolute;
		left:0;
		right:100%;
		bottom:0%;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		z-index:-1;
		}
	.box a:hover strong{
		top:0%;
		left:0%;
		right:0%;
		}
#block{background: url(../images/bg-block.jpg) 0 0 no-repeat;}
#block a{background: url(../images/bg-block-a.jpg) 0 0 no-repeat;}

#block-1{background: url(../images/bg-block-1.jpg) 0 0 no-repeat;}
#block-1 a{background: url(../images/bg-block-1-a.jpg) 0 0 no-repeat;}

#block-2{background: url(../images/bg-block-2.jpg) 0 0 no-repeat;}
#block-2 a{background: url(../images/bg-block-2-a.jpg) 0 0 no-repeat;}

.width-div{width:450px;}

.box-1{
	background: url(../images/bg-box-1.jpg) 0 0 repeat-x #f0f1ea;
	margin:40px 0 0 0;
	padding:30px 30px 0 30px;
	}
.box-1 img{
	margin:26px 0 24px 0;
	}
.box-1 .button-1{margin:21px 0 17px 0;}

/*--======================aside=========================--*/
aside{
	background: url(../images/bg-aside.jpg) 0 0 repeat-x #fff;
	margin:40px 0 0 0;
	}
aside h3{margin:26px 0 25px 0;}

.twitter a{
	font-size:11px;
	color:#7cb215 ;
	}
.twitter a:hover{color:#af12bc;}
.twitter span {display:block;}
.twitter span a{
	font-weight:bold;
	color:#636363;
	}
	.twitter span a:hover{color:#af12bc;}
.twitter li{padding:10px 0 13px 0;}

.icons li{
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height:16px;
	padding:12px 0 12px 50px;
	}
.icons li a{
	color:#636363;
	position:relative;
	}
#icon span{background: url(../images/icon.png) right 0 no-repeat;}
#icon-1 span{background: url(../images/icon-1.png) right 0 no-repeat;}
#icon-2 span{background: url(../images/icon-2.png) right 0 no-repeat;}
#icon-3 span{background: url(../images/icon-3.png) right 0 no-repeat;}
.icons li a span{
	display:block;
	position:absolute;
	width:32px;
	height:32px;
	left:-49px;
	top:-7px;
	}
.icons li a:hover{color:#af12bc;}
.icons li a:hover span{background-position:0 0 !important;}
/**********************************index-1*********************************/
.box-newsletter{
	background: url(../images/bg-box-1.jpg) 0 0 repeat-x #f0f1ea;
	padding:20px 0 0 30px;
	margin:41px 0 0 0;
	}
.box-newsletter {}
.box-newsletter{}
/**********************************index-2*********************************/
#block-3, #block-4, #block-5{
	width:300px;
	height:113px;
	margin:20px 0 0 0;
	padding-top:207px;
	}
#block-3 a, #block-4 a, #block-5 a{
	display:block;
	width:250px;
	height:97px;
	margin:0 0 0 0;
	color:#fff;
	box-shadow: 8px 6px 16px rgba(000,000,000,0.5);
	position:relative;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index:1;
	}
#block-3 em, #block-4 em, #block-5 em{
		font-style:normal;
		font-family: 'Oswald', sans-serif;
		font-size:30px;
		line-height:36px;
		text-transform:uppercase;
		display:block;
		margin:0 0 0 19px;
		padding:10px 0 0 0;
		}
#block-3{background: url(../images/bg-block-3.jpg) 0 0 no-repeat;}
#block-4{background: url(../images/bg-block-4.jpg) 0 0 no-repeat;}
#block-5{background: url(../images/bg-block-5.jpg) 0 0 no-repeat;}
#block-3 a{background: url(../images/bg-block-a.jpg) 0 0 no-repeat;}
#block-4 a{background: url(../images/bg-block-1-a.jpg) 0 0 no-repeat;}
#block-5 a{background: url(../images/bg-block-2-a.jpg) 0 0 no-repeat;}

.bord-top{
	border-top:1px solid #e5e5e5;
	padding-top:13px;
	margin-top:14px;
	}
/**********************************index-3*********************************/
.box-2{
	background: url(../images/bg-box-1.jpg) 0 0 repeat-x #f0f1ea;
	margin:19px 0 0 0;
	padding:0 30px 16px 30px;
	}
.box-2 p{
	color:#373737;
	margin:24px 0 22px 0;
	}
.box-2 h2{padding:19px 0 45px 0;}
/**********************************index-4*********************************/
.box-3{
	background: url(../images/bg-box-3.jpg) 0 0 repeat-x #f1f2eb;
	padding:26px 25px 32px 25px;
	font-size:12px;
	color:#646464;
	font-style:italic;
	margin:3px 0 21px 0;
	position:relative;
	}
.box-3:after{
	display:block;
	position:absolute;
	content:"";
	background: url(../images/bg-box-3after.png) 0 0 no-repeat;
	width:21px;
	height:21px;
	bottom:-21px;
	left:59px;
	}
	.box-3 img{margin:3px 4px 0 0;}
.link{
	display:block;
	padding:8px 0 0 40px;
	}
/**********************************index-5*********************************/

/**********************************index-6*********************************/
.box-4{
	margin-top:19px !important;
	background: url(../images/bg-box-1.jpg) 0 0 repeat-x #f0f1ea;
	padding-bottom:52px;
	}
.box-4 h2{padding:19px 0 45px 0;}
.box-4 em{
	font-style:normal;
	display:block;
	margin:-3px 0 0 0;
	color:#373737;
	}
/**********************************contact-form****************************/
#form1 {
	font-family: Arial, Helvetica, sans-serif  ;
	font-size: 12px;
	color:#646464 ;
	padding-top: 6px;
	padding-bottom:10px;
	}
#form1 input {
	color:#646464; 
	padding: 6px 0 8px 10px;
	outline:none;
	background:#f0f1ea ;
	font-family: Arial, Helvetica, sans-serif  ; 
	font-size: 12px; 
	height: 16px; 
	width: 210px; 
	float:left; 
	position:relative;  
	border-radius: 5px; 
	}
#form1 textarea {
	overflow:auto; 
	width: 289px; 
	height: 43px ;
	resize:none; 
	float:left;
	color:#646464 ; 
	padding: 7px 0 0  11px;
	background:#f0f1ea ;
	font-family: Arial, Helvetica, sans-serif ; 
	font-size: 12px; 
	border-radius: 5px;
    }	
#form1 label{
	display:block; 
	min-height: 40px;
	position:relative;
	}
#form1 label .feed_name{
	display:block; 
	float:left;
	}	
#form1 label.message {
	display:block; 
	padding-bottom:0;
	}	
#form1 span{
	display:block; 
	margin: 0px 0 6px 3px; 
	float:left; 
	width:160px;
	}
#form1 .error, #form1 .empty, #form1 .success {
	display:none; 
	text-align:left; 
	color:#af12bc ;
	margin-bottom:4px;
	}	
#form1 .error, #form1 .empty {
	text-align:left; 
	color:#ff0e0e; 
	font-size:10px;
	float:left; 
	line-height:12px;
	padding-top:3px;
	width:160px;
	display:none;
	}
#form1 .message .empty{
	position: static; 
	margin:5px 0 5px 5px; 
	text-align:left;
	}
#form1 .buttons2{
	position:relative;
	padding: 14px 0 0 0 ;
	float:right;
	}
#form1 .buttons2 .button{
	min-width:10px !important;
	display:inline-block;
	padding: 11px 10px 11px 10px;
	text-transform:uppercase;
	border-radius: 3px;
	font-size:12px;
	}
	#form1 .buttons2 .button strong{border-radius: 3px;}
#form1 .buttons2 .button:hover{}
.error-empty {
	margin: 0 0 10px 5px !important; 
	display:none; 
	float:left !important;
	width:160px; 
	word-spacing:-1px;
	}
/****************************footer************************/
footer{ 
	font-family:  Arial, Helvetica, sans-serif ; 
	font-size: 12px; 
	color:#909090 ; 
	text-indent:0;
	text-align:right;
	margin:24px 0 0 0;
	}
.main-footer .grid_12{
	border-top:1px solid #e5e5e5;
		padding-top: 25px; 
	padding-bottom: 20px;
	}
.main-footer span{color:#dedede;}
footer a{color:#909090 ; }
footer a:hover{color:#af12bc;}
/*=======================superfish=========================*/
nav{
	float:right;
	display:inline-block;
	background: url(../images/bg-nav.jpg) 0 0 repeat-x #fcfcfc;
	margin:49px 0 0 0;
	border-right:1px solid #dddddd;
	border-left:1px solid #dddddd;
	}
.sf-menu{display:block;}
.sf-menu ul {position:absolute; top:-999px; display:none; z-index:999;}
.sf-menu a {display:block;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:999;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;z-index:999}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;z-index:999}
ul.sf-menu>li{
  background: url(../images/bg-li.png) left 0 no-repeat;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height:18px; 
  float:left; 
  text-transform:uppercase;
  position:relative;
  }
 ul.sf-menu>li:first-child{background: url(../images/bg-li-transparent.png) 0 0 no-repeat;}
ul.sf-menu>li>a{
	display:block;
	position:relative;
	padding:22px 25px 24px 24px;  
	color:#9b9b9b ;
	}
ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {background: url(../images/bg-li-hov.jpg) 0 0 repeat-x #609d3e;}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover{color:#fff;}

.sf-menu>li>ul{
	left:0px;
	top:64px;
	width:  122px;
	padding:10px 0 10px 0; 
	z-index:99;
	background:#6aac2a ; 
	}
.sf-menu>li>ul>li {
	 font-size: 12px; 
	 font-family: 'Oswald', sans-serif;
	 line-height:16px;
	 display:block;
	 padding:7px 0 7px 18px;
	 position:relative;
     }
.sf-menu>li>ul>li:first-child{}
							
.sf-menu>li>ul>li>a {
	display: inline-block;
	color:#ffffff ;
	}
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {color:#bf14cd;}

.sf-menu li li ul {
	 left: 122px !important;
	 top:10px !important;
	 display:block;
	 width: 122px;
	 background:#51922c;
	 padding: 10px 0 10px 0;
	 }
.sf-menu li li li {
	float:none;
	font-size: 12px; 
	 font-family: 'Oswald', sans-serif;
	 line-height:16px;
	 display:block;
	 padding:7px 0 7px 18px;
	 position:relative;
	}
					
.sf-menu li li li a {
	display: inline-block;
	color:#ffffff !important;
	}
.sf-menu li li li:hover {}
.sf-menu li li li a:hover {color:#bf14cd !important;}

/*--------- slider ---------*/
#slide {
width:100%;
position:relative; 
overflow:hidden; 
z-index:1; 
padding:37px 0 0 0;
}

.slider {position: relative; 
z-index:1;
width: 940px; 
height: 500px; 
margin: 0 auto; 
overflow: hidden; /*top:50px; left:82px;*/}
.items {display:none;}

.banner{width: 488px;
position:absolute;
top: 87px; 
z-index:15; 
right:0; 
color:#fff ; 
font-size: 72px;
line-height: 88px;
font-family: 'Oswald', sans-serif;
text-transform:uppercase;
letter-spacing:-4px;
}
.div-banner{width:432px;}
.div-banner span{
	display:block;
	margin-top:-15px;
	}

